.main {
  background-color: #151c2e;
  color: white;
  font-size: 16;
  margin: 0px auto;
  text-align: center;
  font-family: "Exo 2";
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

.title {
  transition: 250ms;
}

.title:hover {
  transition: 250ms;
  color: #ff004d;
}

.nav-comp {
  margin-top: 10px;
}

.nav-comp li a {
  color: white;

  display: inline;
  list-style: none;
  margin-right: 20px;
  transition: 250ms;
}

.nav-comp li a:hover {
  transition: 250ms;
  color: #ff004d;
}

/* Home Container */

.home-container {
  width: 100%;
  margin: auto;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  padding-top: 30px;
  font-size: 3rem;
  font-weight: 700;
}

.job {
  color: #ff004d;
  margin-bottom: 40px;
}

.icons-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.icon {
  color: #ff004d;
  margin-right: 30px;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2) rotate(10deg);
  color: white;
}

.icon:active {
  transform: scale(1.1) rotate(0deg);
}

.my-image {
  padding-top: 30px;
  max-height: 600px;
  max-width: 600px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 100px;
}

/* About Container */

.about-container {
  padding: 50px;
}
